{% extends "base.html" %}

{% block app_content %}
    <a href="{{ url_for('submit') }}"><h1>Create Post</h1></a>
    {% for post in posts %}
        <!-- Blog Post -->
        <div class="card bg-light mb-2 border-0">
            <div class="card-body p-1">
                <table>
                    <td style="padding-right: 0.5rem">
                        <a href="{{ post.url }}"> <svg width="90" height="25">
                            <rect width="90" height="25" style="fill:lightgray;stroke-width:1;stroke: black" />
                        </svg></a>
                    </td>
                    <td>
                <h5 class="card-title"> <a class="plain" href="{{ post.url }}"> {{ post.title }}</a></h5>
                    </td>
                </table>

                <div class="card-text">
                    <a href="{{ url_for('post', post_number=post.id) }}" class="btn btn-primary">Comments
                        <span class="badge badge-pill badge-light">{{ post.number_of_comments() }}</span></a>
                </div>
                </table>
            </div>
        </div>
    {% endfor %}


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="m-0 text-center">Copyright &copy; Your Website 2018</p>
        </div>
    </footer>

{% endblock %}

{% block sidebar %}
    <!-- Include Side Bars -->
    {% include 'sidebar.html' %}
{% endblock %}